{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-danger">Confirm Account Deletion</h2>
            <p class="card-text">Are you sure you want to delete your account?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mr-2">Delete Account</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}